.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  background-color: #b68787;
}

.grid {
  grid-template-areas: "."
    "Area";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-2 {
  grid-column-gap: 124px;
  grid-row-gap: 16px;
  grid-template-areas: ". ."
    ". Area";
  -ms-grid-columns: minmax(91px, 2fr) 124px 1fr;
  grid-template-columns: minmax(91px, 2fr) 1fr;
  -ms-grid-rows: minmax(auto, 1fr) 16px auto;
  grid-template-rows: minmax(auto, 1fr) auto;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block {
  background-color: #502727;
}

.signup-body {
  height: 500px;
  font-family: Lato, sans-serif;
  color: #505b55;
  -o-object-position: 50% 20%;
  object-position: 50% 20%;
}

.div-block-2 {
  height: 100%;
  min-height: 100%;
}

.div-block-3 {
  height: 100%;
  background-color: #8f4f4f;
}

.div-block-4 {
  height: 200vw;
  background-color: #580f0f;
}

.signup-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 0px auto 0px auto 0px auto;
  grid-template-rows: auto auto auto auto;
}

.text-span {
  background-color: #2bf4c5;
  color: #bbb;
  font-style: normal;
}

.logo-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(91deg, #fff, #2bf4c5);
  font-family: 'Baloo 2', sans-serif;
  color: #2bf4c5;
  font-size: 25px;
  font-weight: 600;
}

.logo-div {
  height: 50px;
  margin-left: 200px;
}

.signup-bg-image {
  width: 100%;
  height: 300px;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 70%;
  object-position: 50% 70%;
}

.div-block-6 {
  background-color: #000;
}

.lg-bg-tinter {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
  opacity: 0.56;
  color: #000;
}

.text-span-2 {
  color: #f0e432;
}

.text-block-2 {
  color: #fff;
}

.text {
  position: relative;
  z-index: 99;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #fbfbfb;
  font-weight: 300;
}

.div-block-8 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 103;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #3c7256;
}

.text-block-3 {
  font-size: 50px;
}

.text-block-4 {
  position: static;
  font-size: 36px;
}

.div-block-9 {
  background-color: #a55c5c;
}

.login-banner-text {
  position: relative;
  z-index: 99;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.signup-banner-text-lg {
  padding-top: 70px;
  color: #fff;
  font-size: 36px;
  line-height: 37px;
  text-align: justify;
  white-space: normal;
}

.signup-banner-text-sm {
  margin-top: 30px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.signup-content-div {
  height: auto;
  padding-right: 30px;
}

.signup-text-large {
  margin-top: 75px;
  font-family: Lato, sans-serif;
  color: #68727a;
  font-size: 30px;
  line-height: 28px;
  font-weight: 300;
}

.signup-text-bold {
  margin-top: 20px;
  font-weight: 700;
  text-align: left;
}

.login-list {
  margin-top: 25px;
}

.signup-formbox-div {
  width: 600px;
  height: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #65c9f3;
  background-color: transparent;
}

.div-block-13 {
  position: relative;
  top: 40px;
  z-index: 88;
  width: auto;
  height: 50px;
  background-color: #fff;
}

.text-block-9 {
  color: #65c9f3;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.text-block-10 {
  height: 24px;
  margin-top: 40px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #fff;
  color: #65c9f3;
  font-size: 22px;
  font-weight: 400;
}

.signup-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: auto;
  margin-top: 20px;
  padding-bottom: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #dfe3e8;
}

.form {
  width: 450px;
  padding-right: 0px;
  padding-left: 0px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  font-size: 20px;
}

.footer-div {
  width: 100%;
  height: 100px;
  background-color: #595959;
}

.field-label {
  opacity: 0.73;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.text-field {
  border: 1px dotted #000;
  border-radius: 4px;
  font-size: 20px;
}

.copyright {
  margin-bottom: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.signup-text-div {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: 35px;
  display: block;
  width: 200px;
  height: 50px;
  margin-left: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2aaedf;
  font-size: 22px;
  text-align: center;
}

.signup-text {
  position: relative;
  top: 25px;
  background-color: #fff;
}

.login-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-top: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-body {
  background-color: #f9fafb;
}

.login-form-block {
  margin-top: 100px;
  padding-right: 100px;
  padding-bottom: 350px;
  padding-left: 100px;
  border-bottom: 3px solid #dfe3e8;
}

.text-block-11 {
  margin-top: 100px;
  font-family: Montserrat, sans-serif;
  color: #25142d;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: -1px;
  text-transform: none;
}

.grid-4 {
  position: absolute;
  left: 200px;
  top: 50px;
  right: 0px;
  bottom: 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  text-transform: none;
}

.div-block-14 {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
  min-width: 100%;
  background-color: #2bf4c5;
}

.div-block-15 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 200px;
  height: 100vh;
  background-color: #fafafa;
}

.div-block-16 {
  background-color: #a03131;
}

.text-span-3 {
  color: #fff;
}

.logout-div {
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.logout-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-right: 25px;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: none;
}

.text-block-12 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 175px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 150px;
  margin-right: 30px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #6cb336;
  font-family: Lato, sans-serif;
  font-size: 50px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 150px;
  margin-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #b33638;
  font-family: Lato, sans-serif;
  font-size: 50px;
}

.button-3 {
  padding: 6px 12px;
  border-radius: 20px;
}

.list {
  margin-top: 70px;
  padding-left: 20px;
  font-family: Lato, sans-serif;
  color: #535239;
  list-style-type: none;
}

.list-item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #ececec;
}

.list-item-2 {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  border-radius: 5px;
}

.timesheet-body {
  position: absolute;
}

@media screen and (max-width: 991px) {
  .signup-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .timesheet-body {
    position: absolute;
    left: 200px;
    top: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Lato, sans-serif;
  }

  .text-block-13 {
    font-weight: 900;
  }
}

#w-node-_5e39753a-e904-016e-48dd-42a896650524-952f74fd {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_5e841677-b4db-76e9-e157-a23cb7f381c8-952f74fd {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_77fe7e06-4be2-a2e8-17f0-7f3aa7b538e0-952f74fd {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_9a11db59-78a2-4430-2251-4576ad6397e3-952f74fd {
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-_47a55411-0a85-f85d-2819-d300d39f9b78-952f74fd {
  -ms-grid-column-span: 5;
  grid-column-end: 8;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_099bd0be-2077-5820-fe86-4bd4de73b8fd-952f74fd {
  -ms-grid-column-span: 3;
  grid-column-end: 11;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-b6f04fef-01c0-4956-3e0f-2ecbfc52e8f2-952f74fd {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-f758e115-7768-842f-a223-7fb60eb5caff-952f74fd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8977813f-d2c3-296e-3dd8-24fd1755b90c-5ff62d21 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_58b125db-93fd-508d-c3c0-d10fe75dc77e-5ff62d21 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

